.menu {
  cursor: pointer;
  position: relative;
  border-color: black;
  color: black;
  & > div {
    background: white;
  }
  svg {
    fill: rgba(0, 0, 0, 0.3);
  }
  &.dark {
    border-color: white;
    svg {
      fill: rgba(255, 255, 255, 0.3);
    }
    color: white;
    & > div {
      background: #0c0c0c;
    }
    .choice {
      div {
        button {
          &:hover {
            background-color: white;
            svg {
              fill: black;
            }
          }
        }
      }
    }
  }
  &.absolute {
    .dropdown {
      height: 300px;
    }
  }
}

.choice {
  max-height: 41px;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid inherit;
  border-width: 1px;
  border-color: inherit;
  border-style: solid;
  transition:
    0.5s ease,
    background-color,
    border-color,
    color 0ms;
  div {
    display: flex;
    width: calc(100% - 20px);
    align-items: center;
    justify-content: space-between;
    p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    button {
      width: 18px;
      height: 18px;
      border-radius: 0.75rem;
      transition: 200ms;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        background-color: black;
        svg {
          fill: white;
        }
      }
    }
  }
}

.active {
  .dropdown {
    visibility: visible;
    transform: scaleY(1);
  }
  .choice {
    border-radius: 8px 8px 0px 0px;
    border-bottom-color: rgba(0, 0, 0, 0.3);
    svg {
      transform: rotate(180deg);
    }
  }
  &.dark {
    .choice {
      border-bottom-color: rgba(255, 255, 255, 0.3);
    }
  }
}

.dropdown {
  overflow: clip;
  z-index: 40;
  position: absolute;
  top: 100%;
  width: 100%;
  background: inherit;
  border-radius: 0px 0px 6px 6px;
  border-color: inherit;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
  transition: 0.1s ease;
  transform: scaleY(0);
  transform-origin: top;
  overflow-y: hidden;
}
