.filter {
  top: 0;
  position: absolute;
  height: 100%;
  overflow-y: scroll;
  width: calc(100% - 6px);
  li {
    color: black;
    button {
      width: 100%;
      font-size: 16px;
      padding: 12px;
      padding-left: 24px;
    }
    &.hover {
      color: white;
    }
  }
  &.dark {
    li {
      color: white;
      &.hover {
        color: black;
      }
    }
  }
  &::-webkit-scrollbar-track {
    background: inherit;
  }
  &::-webkit-scrollbar-thumb {
    height: 10%;
  }
}
.hoverBlock {
  width: 100%;
  background-color: black;
  &.dark {
    background-color: white;
  }
}
