ul {
  top: 0;
  position: absolute;
  max-height: 300px;
  overflow-y: scroll;
  width: calc(100% - 12px);
  li {
    color: black;
    button {
      width: 100%;
      font-size: 16px;
      padding: 12px;
      padding-left: 24px;
      transition: 0.2s ease;
    }
    &:hover {
      color: white;
    }
  }
  &.dark {
    li {
      color: white;
      &:hover {
        color: black;
      }
    }
  }
  &::-webkit-scrollbar-track {
    background: inherit;
  }
}
.hover {
  width: 100%;
  background-color: black;
  &.dark {
    background-color: white;
  }
}
