.errorPage {
  text-align: center;
}

.oops {
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 10px;
}

.error-message {
  font-size: 40px;
}

.retryButton {
  font-size: 18px;
  padding: 5px;
  border-radius: 10px;
  margin-top: 20px;
}
