.container {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  & > div {
    width: 25%;
  }
  @media (max-width: 767px) {
    flex-direction: column;
    & > div {
      width: 100%;
    }
  }
}
.inputContainer {
  display: flex;
  margin: 0.75rem;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
  input {
    border-radius: 8px;
    color: black;
    padding: 12px;
    width: 40%;
    background-color: #efefef;
    border: none;
  }
  @media (max-width: 1365px) {
    flex-direction: column;
    input {
      width: 70%;
    }
  }
  @media (max-width: 767px) {
    flex-direction: row;
    input {
      width: 40%;
    }
  }
  &.dark {
    input {
      background-color: white;
    }
  }
}

.searchInput {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  background: white;
  color: inherit;
  &.dark {
    border-color: white;
    background: #0c0c0c;
  }
}
